include LICENSE
include README.md
include pytest.ini
include kikuchipy/hyperspy_extension.yaml

recursive-include kikuchipy/data *

include doc/Makefile
include doc/make.bat
recursive-include doc *.rst *.py
