include CHANGELOG.rst
include kikuchipy/hyperspy_extension.yaml
include LICENSE
include MANIFEST.in
include README.md
include readthedocs.yml
include RELEASE.rst
include setup.cfg
include setup.py

recursive-include doc Makefile make.bat *.rst *.py *.ipynb *.bib
recursive-include doc/_static *.png *.jpg *.svg
recursive-include kikuchipy/data *
