/* Colors
white: #ffffff

black: #24292e

dark grey: #24292e
gray: #404448
light gray: #f6f8fa
very light gray: #fafbfc
very very light gray: #fcfffc

blue: #0366d6
light blue: #3598d6
lighter blue: #68b1e0

green GitHub: #2cbe4e
green viridis: 3bbb75
yellow: #fde725

*/

/* Change code blocks font and bump up font size slightly (normally 12px)*/
.rst-content pre.literal-block, .rst-content div[class^="highlight"] pre, .rst-content .linenodiv pre {
	font-family: 'Inconsolata', monospace !important;
	font-size: 16px !important;
	white-space: pre-wrap;
}

.rst-content code {
    font-family: "Inconsolata", monospace !important;
    font-size: 16px !important;
}

/* All page */
body {
    font-family: "Fira Sans", sans-serif;
}

/* Text */
p {
    color: #24292e;
}

/* Links */
.wy-nav-content-wrap p a {
    color: #0366d6;
}
.wy-nav-content-wrap footer a {
    color: #0366d6;
}
.wy-breadcrumbs li a {
    color: #0366d6;
}

/* Links hover */
.wy-nav-content-wrap p a:hover {
    color: #0366d6;
    text-decoration: underline;
}
.wy-nav-content-wrap .rst-footer-buttons a:hover {
    color: #0366d6;
    text-decoration: none;
}
.wy-nav-content-wrap footer a:hover {
    color: #0366d6;
    text-decoration: underline;
}
.wy-breadcrumbs li a:hover {
    color: #0366d6;
    text-decoration: underline;
}

/* Content background */
.wy-nav-content-wrap {
    background-color: #ffffff;
}

/* Content background */
.wy-nav-content {
    max-width: 940px;
    background-color: #ffffff;
}

/* Sidebar */
.wy-nav-side {
    background-color: #ffffff;
    color: #404688;
/*    border-right: 1px solid #e1e4e5; */
}

/* Sidebar search link (title) */
.wy-side-nav-search a {
    color: #0366d6;
}
/* Sidebar search link (version) */
.wy-side-nav-search div.version {
    color: #24292e;
}
.wy-side-nav-search a:hover {
    background-color: #ffffff;
}

/* Sidebar toc header */
.wy-menu p.caption {
    color: #24292e; /* 24292e 2cbe4e 3bbb75 */
    text-transform: none;
}
.wy-menu li a:active {
    color: #3598d6;
}
.wy-menu li.current a {
    background-color: #ffffff;
    color: #0366d6;
    border-right: none;
}
.wy-menu li.current a:hover {
    background-color: #ffffff;
    color: #0366d6;
    border-right: none;
}
/* Toctree level 1 */
.wy-menu li.toctree-l1.current > a {
    background-color: #0366d6;
    color: #ffffff;
    border-top: none;
    border-bottom: none;
}
.wy-menu li.toctree-l1.current > a:hover {
    background-color: #fde725;
    color: #0366d6;
}
/* Toctree level 2 */
.wy-menu li.toctree-l2 a {
    background-color: #3598d6;
    color: #ffffff;
}
.wy-menu li.toctree-l2 a:hover {
    background-color: #fde725;
    color: #0366d6;
}
.wy-menu li.toctree-l2.current a {
    background-color: #3598d6;
    color: #ffffff; /* f5f5f5 */
}
.wy-menu li.toctree-l2.current a:hover {
    background-color: #fde725;
    color: #0366d6;
}
/* Toctree level 3 */
.wy-menu li.toctree-l2.current li.toctree-l3 a {
    background-color: #68b1e0;
    color: #ffffff;
    font-size: 14px;
}
.wy-menu li.toctree-l2.current li.toctree-l3 a:hover {
    background-color: #fde725;
    color: #0366d6;
}

/* Sidebar expand span buttons */
.wy-menu li a span.toctree-expand {
    color: #0366d6;
}
.wy-menu li a:hover span.toctree-expand {
    color: #0366d6;
}
.wy-menu li.current a span.toctree-expand {
    color: #ffffff;
}
.wy-menu li.current a:hover span.toctree-expand {
    color: #0366d6;
}

/* Sidebar toc links */
.wy-menu a {
    color: #0366d6;
}

/* Sidebar toc links hover */
.wy-side-nav-search a:hover {
    background-color: #fde725;
}

/* Sidebar search */
.wy-side-nav-search {
    background-color: #ffffff;
}

/* Icon hover */

.wy-side-nav-search a.icon:hover {
    background-color: #f6f8fa;
}

/* Sidebar toc links hover background */
.wy-menu a:hover {
    background-color: #fde725;
}

/* Nav top */
.wy-nav-top {
    background-color: #0366d6;
}
.wy-nav-top a {
    color: #ffffff;
}
.wy-nav-top a:visited {
    color: #ffffff;
}

/* Permalinks */
a:visited {
    color: #0366d6;
}

/* Formatting for code blocks */
.highlight {
	background-color: #f6f8fa;
}

/* Formatting for inline code */
.literal {
	background-color: #f6f8fa;
}


/* Override table width restrictions (taken from Dask) */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}
