# See https://docs.python.org/3/library/re.html

[regex1]
regex: (?<=Completed \| )\d+\.\d* \w+
replace: TIME
# Example: [#] | 100% Completed | 303.49 ms -> [#] | 100% Completed | TIME

[regex2]
regex: \d+ (?=patterns/s)
replace: N_PATTERNS
# Example: 1 patterns/s -> N_PATTERNS patterns/s

[regex3]
regex: \d+ (?=comparisons/s)
replace: N_COMPARISONS
# Example: 1 comparisons/s -> N_COMPARISONS comparisons/s

[regex4]
regex: ^100%(.*)it/s\]$
replace: TQDM_PROGRESSBAR

[regex5]
regex: (?<=Figure size )\d+x\d+.\d+
replace: FIGURE_SIZE
# Example: Figure size 640x408.116 -> Figure size FIGURE_SIZE