# See https://docs.python.org/3/library/re.html

[regex1]
regex: (?<=Completed \| )\d+\.\d* \w+
replace: TIME
# Example: [#] | 100% Completed | 303.49 ms -> [#] | 100% Completed | TIME

[regex2]
regex: \d+.\d+ (?=patterns/s)
replace: N
# Example: 1.2 patterns/s -> N_PATTERNS patterns/s

[regex3]
regex: \d+.\d+ (?=comparisons/s)
replace: N
# Example: 1.5 comparisons/s -> N comparisons/s

[regex4]
regex: ^100%(.*)it/s\]$
replace: TQDM_PROGRESSBAR

[regex5]
regex: (?<=Figure size )\d+x\d+.\d+
replace: FIGURE_SIZE
# Example: Figure size 640x408.116 -> Figure size FIGURE_SIZE

[regex6]
regex: (?<=Refining )\d+
replace: N
# Example: Refining 12900 orientation(s) -> Refining N orientation(s)

[regex7]
regex: (?<=Matching )\d+/\d+
replace: M/N
# Example: Matching 12871/29800 -> Matching M/N
